body {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #dbe2f0;
  font-family: system-ui;
  color: #222;
}

.app {
  display: flex !important;
  flex-direction: column;
  align-items: center;
  align-items: center;
}

.screen {
  border: 1px solid #000;
  background: #fff;
  width: 320px;
  height: 320px;
  image-rendering: pixelated;
  border: 1px solid #000;
}